.header{
    background: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.459)),url('/assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body{
    margin: 0;
    padding: 0;
}



.logo{
    width: 130px;
}