* {
    scroll-behavior: smooth;
    scrollbar-color: #df5bc4 #e8dede;
    scrollbar-width: thin;
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.459)),url('/assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-2{
    background: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.459)),url('/assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-shape {
    -webkit-clip-path: polygon(0 0,100% 0,88% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,88% 100%,0 100%);
}

body{
    margin: 0;
    padding: 0;
}



.logo{
    width: 100px;
    width: 120px;
    margin-top: 2rem;
}


.img-card{
    position: relative;
    overflow: hidden;
    transition: all 600ms;
}

.img-card:hover:before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    border: 4px solid rgba(109, 204, 248, 0.507);
    height: 100%;
    transform: skew(60deg);
    background-color: rgba(127, 129, 255, 0.274);
    transition: all 600ms;
}

.bmi{
    background: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.459)),url('https://images.pexels.com/photos/4162489/pexels-photo-4162489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.blog-img{
    background: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.459)),url('https://images.pexels.com/photos/4162489/pexels-photo-4162489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


